.form-field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  position: relative;
}
.form-label {
  color: #606360;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  transition: 0.3s all;
}
.form-label.required {
  position: relative;
}
.form-label.required:after {
  position: absolute;
  content: "*";
  color: #ff6a55;
  top: -7px;
  right: -7px;
}
.form-input,
.form-select-wrapper {
  background-color: #f9f9f9;
  border: 1px solid #f4f4f4;
  font-family: "Poppins", sans-serif;
  padding: 16px;
  font-size: 16px;
  line-height: 16px;
  color: #17191c;
  border-radius: 8px;
  transition: 0.3s all ease-out;
  outline: none;
  width: 100%;
}
.form-input::placeholder {
  color: #aeaeae;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.form-input:focus {
  border: 1px solid #8f00ff;
}
.form-input.error:invalid,
.form-input.error {
  border: 1px solid #ff6a55;
}
.form-input:disabled {
  border: 1px solid #f4f4f4;
  background-color: #f9f9f9;
  pointer-events: none;
  cursor: not-allowed;
  color: #d8d8d8;
}
.form-field:has(.form-input:disabled) .form-label {
  color: #d8d8d8;
}

.error-message {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #ff6a55;
}
