.cta {
  padding: 64px 120px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.cta-title {
  color: #ffffff;
  margin-bottom: 16px;
}
.cta-subtitle {
  color: #e6e6e6;
}

@media (max-width: 992px) {
  .cta {
    padding: 46px 16px;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
  }
  .cta a,
  .cta .btn {
    width: 100%;
  }
}
