.header {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px;
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 1px 7.5px 0px #00000012;
  border-bottom: 1px solid #f4f4f4;
  background-color: #ffffff;
}
.scrolled .header-inner {
  padding: 12px 120px;
}

.close-contact {
  border: 1px solid #F4F4F4;
  background-color: #ffffff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 13px 12px 13px 12px;
  cursor: pointer;
  transition: 0.3s all;
}
.close-contact:hover {
  border-color: #8224b8;
}

@media (max-width: 992px) {
  .header-inner {
    padding: 16px 20px;
  }
  .scrolled .header-inner {
    padding: 12px 20px;
  }
  .header-inner img {
    max-width: 152px;
  }
}
