* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #282828;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}

.loader-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0000001a;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 100px;
  transition: 0.3s all;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.btn.lg {
  padding: 18px 32px;
  font-size: 16px;
  line-height: 16px;
}
.btn.md {
  padding: 13px 24px;
  font-size: 14px;
  line-height: 14px;
}

.btn.primary {
  background-color: #8f00ff;
  color: #ffffff;
}

.btn.primary:hover {
  background-color: #ad45ff;
}

.btn.primary:focus {
  background-color: #7705d0;
}

.btn.primary:disabled {
  background-color: #f5f5f5;
  color: #aeaeae;
  pointer-events: none;
  cursor: not-allowed;
}

.btn.secondary {
  background-color: #ffffff;
  color: #8f00ff;
}

.btn.secondary:hover {
  background-color: #f5f5f5;
  color: #ad45ff;
}

.btn.secondary:focus {
  color: #7705d0;
  background-color: #f1f1f1;
}

.btn.secondary:disabled {
  background-color: #f5f5f5;
  color: #aeaeae;
  pointer-events: none;
  cursor: not-allowed;
}

.btn.tertiary {
  background-color: transparent;
  color: #8f00ff;
}

.btn.tertiary:hover {
  color: #ad45ff;
}

.btn.tertiary:focus {
  color: #7705d0;
}

.btn.tertiary:disabled {
  color: #aeaeae;
  pointer-events: none;
  cursor: not-allowed;
}

.main {
  padding-top: 72px;
}

.tag.containered {
  padding: 10px 24px;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff15b;
  font-size: 14px;
  line-height: 14px;
  color: #282828;
  font-family: "Inter", sans-serif;
  width: fit-content;
}

.tag.text {
  background-image: linear-gradient(90deg, #4646fb 0.2%, #be4dff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  width: fit-content;
}

.hero {
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 42px;
  padding-top: 116.5px;
  padding-bottom: 216.5px;
}

.background-gradient {
  --bg-size: 400%;
  --color-one: #da48fe;
  --color-two: #52c7fa;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  animation: move-bg 30s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 64px;
  line-height: 72px;
}
h2 {
  font-size: 44px;
  line-height: 52px;
}
h3 {
  font-size: 36px;
  line-height: 36px;
}
h4 {
  font-size: 24px;
  line-height: 24px;
}
h5 {
  font-size: 21px;
  line-height: 21px;
}
h6 {
  font-size: 18px;
  line-height: 24px;
}

.subtitle {
  font-family: "Inter", sans-serif;
}
.subtitle.md {
  font-size: 16px;
  line-height: 24px;
}
.subtitle.lg {
  font-size: 18px;
  line-height: 26px;
}
.subtitle.sm {
  font-size: 14px;
  line-height: 21px;
}

.hero-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  max-width: 1001px;
  margin: 0 auto;
}
.hero-title {
  text-align: center;
  color: #ffffff;
}
.hero-title b,
.hero-subtitle b {
  color: #ffffff;
}
.hero-subtitle {
  text-align: center;
  color: #ffffff;
  padding: 0 131.5px;
}
.cta-link .btn {
  gap: 10px;
}
.gradient-title {
  background-image: linear-gradient(
    90deg,
    #1e1eb6 0.2%,
    #1a1a96 0.21%,
    #8224b8 54.55%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  border: 1px solid #f4f4f4;
  background-color: #ffffff;
  box-shadow: 0 0 42.9px 0 #00000012;
  padding: 32px;
  border-radius: 24px;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}
.form-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.form .btn {
  margin-top: 16px;
  width: fit-content;
}
.form-message {
  color: #282828;
}
.form-message a {
  color: #8f00ff;
}

.legal-text-wrapper {
  padding: 72px 223px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 60px;
}

.legal-text-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.legal-text-inner-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  padding-left: 32px;
}
.legal-text-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}
.legal-text-inner:first-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}
.legal-text-inner.listed {
  padding-left: 24px;
}
.listed-title,
.listed-text {
  position: relative;
  padding-left: 33px;
}
.listed-title:before,
.listed-text:before {
  content: url("./asset/list_star.svg");
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
}
.legal-text a {
  text-decoration: underline;
  color: #8f00ff;
}

.error-container {
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  position: relative;
  padding: 72px 16px;
}

.error-code {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, #4646fb 0.2%, #be4dff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30vw;
  font-weight: 700;
  opacity: 0.06;
}

.colored-to-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(188deg)
    brightness(108%) contrast(102%);
}

.error-page-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}
.error-page-subtitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #605a57;
}
#contact-form-step-one .btn {
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
}
.form-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.form-buttons-wrapper .btn:first-child {
  gap: 10px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 40px;
    line-height: 46px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 36px;
    line-height: 36px;
  }
  h4 {
    font-size: 24px;
    line-height: 24px;
  }
  h5 {
    font-size: 21px;
    line-height: 21px;
  }
  h6 {
    font-size: 18px;
    line-height: 24px;
  }
  .hero {
    padding: 90px 16px 148px;
  }
  .tag.containered {
    font-size: 12px;
    line-height: 12px;
  }
  .subtitle.lg {
    font-size: 14px;
    line-height: 21px;
  }
  .hero-subtitle {
    padding: 0;
  }
  .form-cols {
    grid-template-columns: 1fr;
  }
  .legal-text-wrapper {
    padding: 64px 16px;
    gap: 52px;
  }
  .legal-text-section {
    gap: 16px;
  }
  .legal-text-inner-wrapper,
  .legal-text-inner.listed {
    padding-left: 16px;
  }
  .error-page-subtitle {
    font-size: 24px;
    line-height: 30px;
  }
  .error-container {
    overflow: hidden;
  }
  .error-code {
    font-size: 60vw;
  }
  #contact-form-step-one .btn {
    margin-left: auto;
    margin-right: 0;
    width: 100%;
  }
}
