.form-wrapper {
    position: relative;
}
.form-wrapper.lg {
    padding: 120px;
}
.form-wrapper.md {
    padding: 52px;
}
.form-wrapper:after,
.form-wrapper:before {
    content: url("../../asset/corner-bg.svg");
    position: absolute;
    z-index: -1;
}
.form-wrapper:after {
    top: 0;
    right: 0;
}
.form-wrapper:before {
    -webkit-transform: scaleX(-1);
    transform: scale(-1);
    bottom: 0;
    left: 0;
}
.form-inner {
    max-width: 812px;
    margin: 0 auto;
}
.form-wrapper-title {
    text-align: center;
    margin-bottom: 16px;
}
.form-wrapper-subtitle {
    text-align: center;
    color: #605a57;
    margin-bottom: 46px;
}
.form-wrapper-subtitle a {
    text-decoration: underline;
    color: #8F00FF;
}

.form.success img {
    margin: 0 auto;
}
.form.success .success-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}
.form.success .subtitle {
    text-align: center;
}

.form.success a {
    text-decoration: underline;
    color: #8f00ff;
}
.form-inner:has(.success) {
    max-width: 690px;
}

.success-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.form.success.v2 {
    padding: 0;
}
.form-success-inner {
    padding: 0 32px 32px;
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
}

@media (max-width: 992px) {
    .form-wrapper.lg {
        padding: 72px 16px 120px;
    }
    .form-wrapper.md {
        padding: 52px 16px;
    }
    .success-image-wrapper img {
        width: 140px;
        height: 140px;
    }
}